html, body {
	background: #084d75; 
	margin: 0; 
	font-family: 'Permanent Marker', cursive;
	
	
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;

}

.grid-container {
	display: grid;
  }
.
.inner-box {
	background: white;

p {
	color: aqua;
}

