<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Edgar Diaz Blog</title>
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="_css/styles.css">

</head>
<body>
 <div class="container">
   <div class="row">
    
      <div class="col-5" style="color: aqua;">

        <P><h2>Edgar Diaz</h2></P>
       
        <p><img class="img-fluid" src="./_images/Edgar diaz.jpg"  /> </a></p>
       
          <dd> <a href="blog.html"><button type="button">Blog </button></a></dd>
          <dd> <a href="Projects.html"><button type="button">Projects</button></a></dd>
          <dd> <a href="About.html"><button type="button">About</button></a></dd>
      </div>